<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Sign Up</title>
        <style rel="/style/NexusPages/SignUp.css"> </style>
    </head>

    <body>

        <header>
            <div id="logo"> <p> K </p> </div>
            <p> Kidan </p>
        </header>

        <div id="signup-body">
            <div id="signup-header">
                <h2> Ready to start your<br>data journey? </h2>
                <p> Signup to Kidan and start handling <br>your dataset like a pro!</p>
            </div>
            <form id="signup-form">
                <label>
                    <span> Full name </span><br>
                    <input type="text" placeholder="John Doe">
                </label>
                <label>
                    <span> Email </span><br>
                    <input type="email" placeholder="john_doe@gmail.com">
                </label>
                <label>
                    <span> Password </span><br>
                    <input type="password" placeholder="6 digit password">
                </label>
                <button type="submit"> Signup </button>
            </form>
        </div>

    </body>

    <footer>

    </footer>

</html>
