@import "/static/style/variables.css";

header {
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
    padding: var(--spacing-lg);
}

header p {
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-bold);
}

#logo p {
    padding: var(--font-size-xs);
    background: var(--color-primary);
    color: var(--color-badge-bg);
    border-radius: var(--radius-lg);
}