<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
        <link rel="stylesheet" href="/style/fragments/navigation.css">
        <link rel="stylesheet" href="/style/atrium/home.css">
    </head>

    <div class="home-body-container">
        <div th:replace="~{fragments/navigation::header-nav-bar}"> </div>
        <div class="home-body">
            <h1> Welcome to Kidan </h1>
            <p> Data governance made simple. Choose where to start. </p>
        </div>
    </div>
</html>