<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Signup</title>
        <link rel="stylesheet" href="/style/nexus/signup.css">
        <link rel="stylesheet" href="/style/fragments/header.css">
    </head>

    <body>

        <div th:replace="~{fragments/header :: header-fragment}"> </div>

        <div id="signup-body">
            <div id="signup-header">
                <h2> Ready to start your<br>data journey? </h2>
                <p> Signup to Kidan and start handling <br>your dataset like a pro!</p>
            </div>
            <form id="signup-form" method="POST" th:action = "@{/signup/create-user}" th:object = "${newUser}">
                <label>
                    <span> Full name </span><br>
                    <input type="text" placeholder="John Doe" th:field = "*{name}">
                </label>
                <label>
                    <span> Email </span><br>
                    <input type="email" placeholder="john_doe@gmail.com" th:field = "*{email}">
                </label>
                <label>
                    <span> Password </span><br>
                    <input type="password" placeholder="6 digit password" th:field = "*{password}">
                </label>
                <button type="submit"> Signup </button>
            </form>
        </div>

    </body>

    <footer>

    </footer>

</html>
